<footer> 

  <div class="container-fluid-footer">
    <div class="row">
      <div class="col-3">
        <h4>Sobre nosotros</h4>
        <p class="text-parrafo" style="margin-left: 10%;">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Velit facere ad ipsum sequi voluptatibus quaerat
          molestiae labore quibusdam ea earum repellendus quae itaque deleniti, dolorem doloremque sint at minus soluta.
        </p>
      </div>

      <div class="col-3">
        <h4>Seleccion</h4>
        <div class="text-parrafo" style="text-align: center;">
          <ul>
            <li><a href="#"> Busqueda de Minerales</a></li>
            <li><a href="#"> Top 10 | Gemas toxicas</a></li>
            <li><a href="#"> Aprende mas sobre minerales</a></li>
            <br>
            <li><a href="#"> Glosario</a></li>
          </ul>
        </div>

      </div>

      <div class="col-3">
        <h4>Nuestras Redes</h4>
        <div class="link-socials">
        <a href="http://www.facebook.com/"><i class="bi bi-facebook"></i></a>
        <a href="http://www.facebook.com/"><i class="bi bi-youtube"></i></a>
        <a href="http://www.facebook.com/"><i class="bi bi-youtube"></i></a>
        <a href="http://www.facebook.com/"><i class="bi bi-discord"></i></a>
      </div>
    </div>


      <div class="last-box col-3">
        <h4>Mas...</h4>
        <p class="text-parrafo" style="margin-left: 10%;">Lorem ipsum dolor, sit amet consectetur adipisicing elit.
          Velit facere ad ipsum sequi voluptatibus quaerat
          molestiae labore quibusdam ea earum repellendus quae itaque deleniti, dolorem doloremque sint at minus soluta.
        </p>
      </div>

    </div>
   </div>
  </div>


</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>