<footer class="d-flex flex-wrap">
    <div class="col-12 col-md-6 col-lg-3">
      <h4>Sobre Foro de Minerales</h4>
      <img src="/images/logo-foro-de-minerales.png" alt="logo" >
      <br>
      <br>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex quasi sequi dolores rerum laboriosam debitis iste
        incidunt quidem minus pariatur nemo id sint molestiae, ipsa cum, repellendus ad nulla qui.</p>
    </div>

    <div class="redes col-12 col-md-6 col-lg-3">
      <h4>Nuestras Redes sociales</h4>
       
      <a href="https://www.instagram.com/forodeminerales/"><img src="images/instagram.png" alt="Foro" /> /forodeminerales </a>
     <hr>
      <a href="https://www.facebook.com/forodemineralesblog/"><img src="images/facebook.png" alt="Foro" /> /forodemineralesblog </a>
      <hr>
      <a href="https://www.youtube.com/c/ForodeMinerales/"><img src="images/youtube.png" alt="Foro" /> /forodeminerales </a>
<hr>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <h4>Categorias</h4>
      <br>
      <br>

      <ul>
        <li class="footer-cat"><a href="#"> Inicio </a></li>
        <li><a href="#"> Glosario </a></li>
        <li><a href="#"> Top 10 </a></li>
        <li><a href="#"> Piedras preciosas </a></li>
        <li><a href="#"> Busqueda de minerales </a></li>
        <li><a href="#"> Sobre nosotros </a></li>
        <li><a href="#"> Nuestras redes </a></li>
      </ul>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <h4>Sobre Foro de Minerales</h4>
      <img src="/images/logo-foro-de-minerales.png" alt="logo" >
      <br>
      <br>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex quasi sequi dolores rerum laboriosam debitis iste
        incidunt quidem minus pariatur nemo id sint molestiae, ipsa cum, repellendus ad nulla qui.</p>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>