<header>
    <div class="main">
      <div class="logo">
        <img src="images/logo-foro-de-minerales.png" alt="">
      </div>
      <ul>
        <li class="active"><a href="/"> Inicio </a></li>
        <li><a href="/glosario"> Glosario </a></li>
        <li><a href="/top10"> Top 10 </a></li>
        <li><a href="/piedrasPreciosas"> Piedras preciosas </a></li>
        <li><a href="/busquedaDeMinerales"> Busqueda de minerales </a></li>
        <li><a href="/sobreNosotros"> Sobre nosotros </a></li>
        <li><a href="/nuestrasRedes"> Nuestras redes </a></li>
      </ul>
    </div>
    <div class="title">
      <h1>FORO DE MINERALES</h1>
    </div>
    <div class="button">
      <a href="#" class="btn"> MIRAR VIDEOS</a>
      <a href="#" class="btn"> APRENDE MAS SOBRE MINERALES</a>
    </div>
  </header>