<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>


  <body>

    <%- include('partials/header.ejs') %>

      <div class="container">
        <div class="row">
          <h2 class="col-12" style="margin-top: 5%; margin-bottom: 2%;" >Búsqueda Mineral 3 - Mina de 500 años de antigüedad y compro muchos minerales raros </h2>
          
          <script class="col-12" >
            var meses = new Array("Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre");
            var f = new Date();
            document.write(f.getDate() + " de " + meses[f.getMonth()] + " de " + f.getFullYear());
          </script>

          <h5 class="col-12 " style="color: grey; padding-top:3%; padding-bottom: 3%;" >Hoy en búsqueda mineral tercera parte, partimos desde las minas del
            cerro rico hasta la ciudad de Oruro (Bolivia) para hacer un poco de turismo mineralógico.
            Para ello visitaremos una antigua mina de plata y oro trabajada por los incas y compramos minerales a
            precios muy buenos !
            <br>
            <br>
            Además de probar la rica gastronomía de Oruro !
          </h5>
          <img src="images/mina.jpg" alt="mina" width="70%" height="auto; display-flex:center;" d>
          <br>
          <h2 class="col-12">Museo minero del Socavón (Bolivia - Oruro)</h2>
          <img src="/images/busqueda1.jpg" alt="" margin-left="40%">

          <h5 class="col-12" style="color: grey;"> El museo minero se encuentra a las faldas del cerro pie de gallo,
            específicamente en el interior (en el subsuelo) del santuario del la virgen del socavón.</h5>

          <h2>Un poco de historia:</h2>
          <h5 class="col-12" style="color: grey;"> Antiguamente formaba parte de una antigua mina, según su historia era
            trabajada de manera superficial por los incas que ya dominaban esa zona, lo que se estima se empezó a
            recolectar el mineral de plata cerca de los años 1445 a 1480.

            Con la llegada de los españoles se comenzaron a hacer exploraciones de estos recursos minerales, en aquel
            momento la plata era una nueva fuente de riquezas, ya que estas latitudes eran muy abundantes sin mencionar
            que las menas era de una ley muy alta. Oficialmente parte de este yacimiento comenzó sus labores
            aproximadamente hacia el año 1595.

            El yacimiento era tan rico que los trabajadores del cerro rico de Potosi al escuchar la buena paga por
            trabajar en estas minas, decidían irse de Potosí.</h5>

          <img src="/images/busqueda2.jpg" alt="">

          <h5 class="col-12" style="color: grey;">Réplica de veta mineralógica de casiterita, vivianita y cuarzo</h5>

          <div class="table col-12">

            <table class="table table-sm">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Museo Minero de Oruro</th>
                  <th scope="col">Valor de Entrada (2019)</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row"></th>
                  <td>Niños</td>
                  <td>6 Bs.</td>
                  <td></td>
                </tr>

                <tr>
                  <th scope="row"></th>
                  <td>Adultos (Nacionales)</td>
                  <td>7 Bs.</td>

                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>Extranjeros</td>
                  <td>12 Bs.</td>

                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>Derechos para sacar fotografías</td>
                  <td>3 Bs.</td>

                </tr>
                <tr>
                  <th scope="row"></th>
                  <td>Derecho para filmar | camara profesional o celular</td>
                  <td>20 Bs.</td>

                </tr>
              </tbody>
            </table>
          </div>
          <div class="last-blog col-12">
            <h2>Atractivos Principales del Museo minero del socavón</h2>
            <img src="/images/busqueda3.jpg" alt="">
            <br>
            <br>
            <ul>
              <ol><strong>1 -Replica de veta mineral: </strong> En la entrada se encuentra una replica de una veta
                mineralógica constituida por casiterita, vivianita y cuarzo.</ol>
              <ol><strong>2- Leyendas locales: </strong> Podemos ver algunas representaciones como la del famoso
                chiru-chiru , una especie de robin hood de los andes, Según dicen que ese fue el lugar donde se refugio
                y la virgen del socavón lo cuido hasta su muerte.</ol>
                <ol><strong>3- Ingreso al la mina: </strong> Pasamos por la galería subterránea que nos llevara hacia la mina, consta de 90 escalones, luego abajo podemos apreciar la estructura de madera que sostiene la mina para evitar derrumbes. esta mina formaban parte de los antiguos parajes de la mina san josé de Oruro, una de las minas mas extensas y profundas de la ciudad de Oruro, al ingresar se puede sentir el aroma a azufre característico de este yacimiento hidrotermal polimetálico.</ol>
                  <ol><strong>4- Vitrinas con objetos usados en la minería local: </strong>  podemos apreciar un sin fin de objetos usados en distintas épocas de la minería en Bolivia, entre ellos martillos neumáticos, objetos donde se robaba el minerales (Jukus o ladrones de minerales), detonadores de dinamita y un carro de minero junto una rampa donde caía la mena hacia el carro</ol>
                    <ol><strong>5- Colección de minerales: </strong> Posee una modesta colección de minerales propias del lugar y de distintas partes de Bolivia, si eres fanático de los minerales ya tienes una excusa para visitar este museo !!
                    </ol>
                <ol><strong>6- El tio de la mina: </strong> El famoso tío es el guardián y protector de todas las riquezas minerales, es una tradición que los mineros en Bolivia le rindan culto y den una ofrenda al tío para que les cuide y los guie hacia una buena veta mineral que brinde fortun</ol>
            </ul>
          </div>

          <div class="last-blog col-12">
          <img src="/images/busqueda4.jpg" alt="">
          <h5 class="col-12" style="color: grey;">Tio de la mina - Guardian y protector de las riquezas minerales </h5>
          <hr>  

          <h2 class="col-12" style="font-weight: bolder; color: grey;">Redacción: Foro de minerales</h2>
          <br>
          <br>
          <hr>  
        </div>


          <main class="videos-recomendados ">
            <div class="container-fluid">
              <div class="row">
                <div class="card col-4-md col-6-sm col-4">
                  <a href="#"><img src="/images/carta.jpg" alt=""></a>
                  <div class="card__data display-flex flex-column" width="30%">
                    <h2 class="card-title card__space">Detector de diamantes
                      <a href="#"></a>
                    </h2>
                    <p class="card__descripcion flex-fill card__space" style="color: grey;"> Diamond Selector II 
                      (Detector de diamantes) guia completa. Hoy en foro de mi...
                    </p>
                  </div>
                </div>

                <div class="card col-4-md col-6-sm col-4">
                  <a href="#"><img src="/images/carta.jpg" alt=""></a>
                  <div class="card__data display-flex flex-column" width="30%">
                    <h2 class="card-title card__space">Detector de diamantes
                      <a href="#"></a>
                    </h2>
                    <p class="card__descripcion flex-fill card__space" style="color: grey;"> Diamond Selector II 
                      (Detector de diamantes) guia completa. Hoy en foro de mi...
                    </p>
                  </div>
                </div>
                <div class="card col-4-md col-6-sm col-4">
                  <a href="#"><img src="/images/carta.jpg" alt=""></a>
                  <div class="card__data display-flex flex-column" width="30%">
                    <h2 class="card-title card__space">Detector de diamantes
                      <a href="#"></a>
                    </h2>
                    <p class="card__descripcion flex-fill card__space" style="color: grey;"> Diamond Selector II 
                      (Detector de diamantes) guia completa. Hoy en foro de mi...
                    </p>
                  </div>
                </div>
                <div class="card col-4-md col-6-sm col-4">
                  <a href="#"><img src="/images/carta.jpg" alt=""></a>
                  <div class="card__data display-flex flex-column" width="30%">
                    <h2 class="card-title card__space">Detector de diamantes
                      <a href="#"></a>
                    </h2>
                    <p class="card__descripcion flex-fill card__space" style="color: grey;"> Diamond Selector II 
                      (Detector de diamantes) guia completa. Hoy en foro de mi...
                    </p>
                  </div>
                </div>
                <div class="card col-4-md col-6-sm col-4">
                  <a href="#"><img src="/images/carta.jpg" alt=""></a>
                  <div class="card__data display-flex flex-column" width="30%">
                    <h2 class="card-title card__space">Detector de diamantes
                      <a href="#"></a>
                    </h2>
                    <p class="card__descripcion flex-fill card__space" style="color: grey;"> Diamond Selector II 
                      (Detector de diamantes) guia completa. Hoy en foro de mi...
                    </p>
                  </div>
                </div>
                <div class="card col-4-md col-6-sm col-4">
                  <a href="#"><img src="/images/carta.jpg" alt=""></a>
                  <div class="card__data display-flex flex-column" width="30%">
                    <h2 class="card-title card__space">Detector de diamantes
                      <a href="#"></a>
                    </h2>
                    <p class="card__descripcion flex-fill card__space" style="color: grey;"> Diamond Selector II 
                      (Detector de diamantes) guia completa. Hoy en foro de mi...
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </main>
        </div>
      </div>

      <%- include('partials/footer.ejs') %>
  </body>

</html>