<!DOCTYPE html>
<html>

<head>
  <title>FORO DE MINERALES</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <header>
    <div class="main">
      <div class="logo">
        <img src="images/logo-foro-de-minerales.png" alt="">
      </div>
      <ul>
        <li class="active"><a href="#"> Inicio </a></li>
        <li><a href="#"> Glosario </a></li>
        <li><a href="#"> Top 10 </a></li>
        <li><a href="#"> Piedras preciosas </a></li>
        <li><a href="#"> Busqueda de minerales </a></li>
        <li><a href="#"> Sobre nosotros </a></li>
        <li><a href="#"> Nuestras redes </a></li>
      </ul>
    </div>
    <div class="title">
      <h1>FORO DE MINERALES</h1>
    </div>
    <div class="button">
      <a href="#" class="btn"> MIRAR VIDEOS</a>
      <a href="#" class="btn"> APRENDE MAS SOBRE MINERALES</a>
    </div>
  </header>

  <main>
    <section id="mas-sobre-F">
      <div class="conteiner">
        <h2 class="title-section">Acerca de Foro...</h2>
        <p class="parrafo-foro">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Sequi eaque eligendi culpa eos laboriosam aperiam ad,
          repudiandae, eius nobis at ex ullam saepe, autem
          quas. Enim eaque tempora id.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, reiciendis
          Possimus quasi ipsam vero labore culpa officiis tenetur totam velit sit illum
          ut ad, maxime nemo quae itaque doloribus nesciunt.
        </p>
      </div>

      <div class="conteiner">
        <h2 class="title-section-other">Sobre los minerales...</h2>
        <p class="parrafo-foro-other">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Sequi eaque eligendi culpa eos laboriosam aperiam ad,
          repudiandae, eius nobis at ex ullam saepe, autem
          quas. Enim eaque tempora id.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, reiciendis
          Possimus quasi ipsam vero labore culpa officiis tenetur totam velit sit illum
          ut ad, maxime nemo quae itaque doloribus nesciunt.
        </p>
      </div>
      </div>
    </section>
    <section class="box-information">
      <div class="container ">
        <hr>
        <h1>Mis ultimos videos </h1>
        <h2> Unboxing de minerales</h2>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/mkkzpRTNkmo" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <p class="video-p">Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Dolore consectetur reiciendis
          nam enim tempore ducimus sint placeat. Sit
          deleniti omnis illo? Veritatis quia eaque quas
          necessitatibus asperiores minima vero
          nulla.</p>

      </div>
      <div class="container">
        <br>
        <br>
        <h2>Meteoritos por Eduardo Jawerbaum</h2>
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/uGdBg6XlsOM" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <p class="video-p"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, assumenda pariatur sequi
          nisi adipisci culpa! Vero deleniti in illo! Beatae, dolorem reprehenderit. Aut natus debitis voluptates iusto
          nesciunt sapiente. Voluptates?</p>

      </div>

    </section>

  </main>

  <footer class="d-flex flex-wrap">
    <div class="col-12 col-md-6 col-lg-3">
      <h4>Sobre Foro de Minerales</h4>
      <img src="/images/logo-foro-de-minerales.png" alt="logo" >
      <br>
      <br>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex quasi sequi dolores rerum laboriosam debitis iste
        incidunt quidem minus pariatur nemo id sint molestiae, ipsa cum, repellendus ad nulla qui.</p>
    </div>

    <div class="redes col-12 col-md-6 col-lg-3">
      <h4>Nuestras Redes sociales</h4>
       
      <a href="https://www.instagram.com/forodeminerales/"><img src="images/instagram.png" alt="Foro" /> /forodeminerales </a>
     <hr>
      <a href="https://www.facebook.com/forodemineralesblog/"><img src="images/facebook.png" alt="Foro" /> /forodemineralesblog </a>
      <hr>
      <a href="https://www.youtube.com/c/ForodeMinerales/"><img src="images/youtube.png" alt="Foro" /> /forodeminerales </a>
<hr>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <h4>Categorias</h4>
      <br>
      <br>
     <ul class="footer-list">
        <li><a href="#"> Glosario </a></li>
        <li><a href="#"> Top 10 </a></li>
        <li><a href="#"> Piedras preciosas </a></li>
        <li><a href="#"> Busqueda de minerales </a></li>
        <li><a href="#"> Sobre nosotros </a></li>
        <li><a href="#"> Nuestras redes </a></li>
      </ul>
    
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <h4>Sobre Foro de Minerales</h4>
      <img src="/images/logo-foro-de-minerales.png" alt="logo" >
      <br>
      <br>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex quasi sequi dolores rerum laboriosam debitis iste
        incidunt quidem minus pariatur nemo id sint molestiae, ipsa cum, repellendus ad nulla qui.</p>
    </div>
  </footer>




  </div>
  </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>