<!DOCTYPE html>
<html lang="en">

  <%- include('partials/head.ejs') %>


<body>

  <%- include('partials/header.ejs') %>

  <main>
    <section id="mas-sobre-F">
      <div class="conteiner">
        <h2 class="title-section">Acerca de Foro...</h2>
        <p class="parrafo-foro">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Sequi eaque eligendi culpa eos laboriosam aperiam ad,
          repudiandae, eius nobis at ex ullam saepe, autem
          quas. Enim eaque tempora id.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, reiciendis
          Possimus quasi ipsam vero labore culpa officiis tenetur totam velit sit illum
          ut ad, maxime nemo quae itaque doloribus nesciunt.
        </p>
      </div>

      <div class="conteiner">
        <h2 class="title-section-other">Sobre los minerales...</h2>
        <p class="parrafo-foro-other">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Sequi eaque eligendi culpa eos laboriosam aperiam ad,
          repudiandae, eius nobis at ex ullam saepe, autem
          quas. Enim eaque tempora id.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, reiciendis
          Possimus quasi ipsam vero labore culpa officiis tenetur totam velit sit illum
          ut ad, maxime nemo quae itaque doloribus nesciunt.
        </p>
      </div>
      </div>
    </section>
    <section class="box-information">
      <div class="container ">
        <hr>
        <h1>Mis ultimos videos </h1>
        <h2> Unboxing de minerales</h2>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/mkkzpRTNkmo" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <p class="video-p">Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Dolore consectetur reiciendis
          nam enim tempore ducimus sint placeat. Sit
          deleniti omnis illo? Veritatis quia eaque quas
          necessitatibus asperiores minima vero
          nulla.</p>

      </div>
      <div class="container">
        <br>
        <br>
        <h2>Meteoritos por Eduardo Jawerbaum</h2>
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/uGdBg6XlsOM" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        <p class="video-p"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, assumenda pariatur sequi
          nisi adipisci culpa! Vero deleniti in illo! Beatae, dolorem reprehenderit. Aut natus debitis voluptates iusto
          nesciunt sapiente. Voluptates?</p>

      </div>

    </section>

  </main>

  


  <%- include('partials/footer.ejs') %>

  </div>
  </div>
  </main>
 
</body>

</html>