<!DOCTYPE html>
<html lang="en">

  <%- include('partials/head.ejs') %>


<body>

  <%- include('partials/header.ejs') %>

  <main>
      <div class="container col-10">

      
      <div class="top10-box col-10">
     <br>
     <br>
        <script>
            var meses = new Array ("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre");
            var f=new Date();
            document.write(f.getDate() + " de " + meses[f.getMonth()] + " de " + f.getFullYear());
            </script>
            <br>
            <br>

        <h1 class="title-top-gemas" style="float: center;">Top 10 de Minerales y Gemas </h1>
        <br>
        <br>
        <h3>En Foro de Minerales, te proponemos conocer mas minerales mas raros y extraños, de nuestra exclusiva serie </h3>

        <img src="/images/gemas-top10.jpg" style="width: 80%; height: auto; float: right; margin: 5% 5% 5% 5%;" alt="">

        <div class="minerales-gemas_top">
            <h1 class="title-top">N°10  Pirocloro</h1>
            <figure class="figure-description">
                <img src="/images/10pirocloro.jpg" class="figure-img img-fluid rounded" width="75%" height="auto" alt="...">
                <figcaption class="figure-caption">Mineral que pertenece  a la categoría de los óxidos y forma parte de los minerales de niobio, tipicamente se lo encuentra en cristales octaedricos y en habito masivo.

                    Los elementos químicos mas importantes presentes en este mineral son el sodio , calcio y niobio, su tonalidad puede ser variable desde el negro profundo, marrón, marrón anaranjado y rojizo. la dureza esta ubicada en 5 a 5,5 en la escala de mohs.
                    
                    El pirocloro puede ser radiactivo, también de este mineral se obtiene el niobio siendo considerado una mena mineral de este elemento.
                    
                    Depósitos importantes del pirocloro se encuentran en : Argentina, Brasil, Estados Unidos, Noruega y Madagascar</figcaption>
              </figure>
              <hr>
              <h1 class="title-top">N°9 Gormanita </h1>
            <figure class="figure-description">
                <img src="/images/9gormanita.jpg" class="figure-img img-fluid rounded"  width="75%" height="auto" alt="...">
                <figcaption class="figure-caption">Mineral que pertenece  a la categoría de los óxidos y forma parte de los minerales de niobio, tipicamente se lo encuentra en cristales octaedricos y en habito masivo.

                    Los elementos químicos mas importantes presentes en este mineral son el sodio , calcio y niobio, su tonalidad puede ser variable desde el negro profundo, marrón, marrón anaranjado y rojizo. la dureza esta ubicada en 5 a 5,5 en la escala de mohs.
                    
                    El pirocloro puede ser radiactivo, también de este mineral se obtiene el niobio siendo considerado una mena mineral de este elemento.
                    
                    Depósitos importantes del pirocloro se encuentran en : Argentina, Brasil, Estados Unidos, Noruega y Madagascar</figcaption>
              </figure>
              <hr>
              <h1 class="title-top">N°8 Egirina</h1>
            <figure class="figure-description">
                <img src="/images/8egirina.jpg" class="figure-img img-fluid rounded"  width="75%" height="auto" alt="...">
                <figcaption class="figure-caption">Mineral que pertenece  a la categoría de los óxidos y forma parte de los minerales de niobio, tipicamente se lo encuentra en cristales octaedricos y en habito masivo.

                    Los elementos químicos mas importantes presentes en este mineral son el sodio , calcio y niobio, su tonalidad puede ser variable desde el negro profundo, marrón, marrón anaranjado y rojizo. la dureza esta ubicada en 5 a 5,5 en la escala de mohs.
                    
                    El pirocloro puede ser radiactivo, también de este mineral se obtiene el niobio siendo considerado una mena mineral de este elemento.
                    
                    Depósitos importantes del pirocloro se encuentran en : Argentina, Brasil, Estados Unidos, Noruega y Madagascar</figcaption>
              </figure>
              <hr>
              <h1 class="title-top">N°7 Gaylussita</h1>
            <figure class="figure-description">
                <img src="/images/7gaylussita.jpg" class="figure-img img-fluid rounded" width="75%" height="auto" alt="...">
                <figcaption class="figure-caption">Mineral que pertenece  a la categoría de los óxidos y forma parte de los minerales de niobio, tipicamente se lo encuentra en cristales octaedricos y en habito masivo.

                    Los elementos químicos mas importantes presentes en este mineral son el sodio , calcio y niobio, su tonalidad puede ser variable desde el negro profundo, marrón, marrón anaranjado y rojizo. la dureza esta ubicada en 5 a 5,5 en la escala de mohs.
                    
                    El pirocloro puede ser radiactivo, también de este mineral se obtiene el niobio siendo considerado una mena mineral de este elemento.
                    
                    Depósitos importantes del pirocloro se encuentran en : Argentina, Brasil, Estados Unidos, Noruega y Madagascar</figcaption>
              </figure>
              <hr>
              <h1 class="title-top">N°6 Danburita</h1>
            <figure class="figure-description">
                <img src="/images/6danburita-foro-de-minerales.jpg" class="figure-img img-fluid rounded"  width="75%" height="auto" alt="...">
                <figcaption class="figure-caption">Mineral que pertenece  a la categoría de los óxidos y forma parte de los minerales de niobio, tipicamente se lo encuentra en cristales octaedricos y en habito masivo.

                    Los elementos químicos mas importantes presentes en este mineral son el sodio , calcio y niobio, su tonalidad puede ser variable desde el negro profundo, marrón, marrón anaranjado y rojizo. la dureza esta ubicada en 5 a 5,5 en la escala de mohs.
                    
                    El pirocloro puede ser radiactivo, también de este mineral se obtiene el niobio siendo considerado una mena mineral de este elemento.
                    
                    Depósitos importantes del pirocloro se encuentran en : Argentina, Brasil, Estados Unidos, Noruega y Madagascar</figcaption>
              </figure>
              <hr>
              <h1 class="title-top">N°5 Cornetita</h1>
            <figure class="figure-description">
                <img src="/images/5cornetita-foro-de-minerales.jpg" class="figure-img img-fluid rounded"  width="75%" height="auto" alt="...">
                <figcaption class="figure-caption">Mineral que pertenece  a la categoría de los óxidos y forma parte de los minerales de niobio, tipicamente se lo encuentra en cristales octaedricos y en habito masivo.

                    Los elementos químicos mas importantes presentes en este mineral son el sodio , calcio y niobio, su tonalidad puede ser variable desde el negro profundo, marrón, marrón anaranjado y rojizo. la dureza esta ubicada en 5 a 5,5 en la escala de mohs.
                    
                    El pirocloro puede ser radiactivo, también de este mineral se obtiene el niobio siendo considerado una mena mineral de este elemento.
                    
                    Depósitos importantes del pirocloro se encuentran en : Argentina, Brasil, Estados Unidos, Noruega y Madagascar</figcaption>
              </figure>
              <hr>
              <h1 class="title-top">N°4 Hexagonita</h1>
            <figure class="figure-description">
                <img src="/images/4hexagonita-tremolita-foro-de-minerales.jpg" class="figure-img img-fluid rounded"  width="75%" height="auto" alt="...">
                <figcaption class="figure-caption">Mineral que pertenece  a la categoría de los óxidos y forma parte de los minerales de niobio, tipicamente se lo encuentra en cristales octaedricos y en habito masivo.

                    Los elementos químicos mas importantes presentes en este mineral son el sodio , calcio y niobio, su tonalidad puede ser variable desde el negro profundo, marrón, marrón anaranjado y rojizo. la dureza esta ubicada en 5 a 5,5 en la escala de mohs.
                    
                    El pirocloro puede ser radiactivo, también de este mineral se obtiene el niobio siendo considerado una mena mineral de este elemento.
                    
                    Depósitos importantes del pirocloro se encuentran en : Argentina, Brasil, Estados Unidos, Noruega y Madagascar</figcaption>
              </figure>
              <hr>
              <h1 class="title-top">N°3 Legrandita</h1>
            <figure class="figure-description">
                <img src="/images/3legrandita-foro-de-minerales.jpg" class="figure-img img-fluid rounded"  width="75%" height="auto" alt="...">
                <figcaption class="figure-caption">Mineral que pertenece  a la categoría de los óxidos y forma parte de los minerales de niobio, tipicamente se lo encuentra en cristales octaedricos y en habito masivo.

                    Los elementos químicos mas importantes presentes en este mineral son el sodio , calcio y niobio, su tonalidad puede ser variable desde el negro profundo, marrón, marrón anaranjado y rojizo. la dureza esta ubicada en 5 a 5,5 en la escala de mohs.
                    
                    El pirocloro puede ser radiactivo, también de este mineral se obtiene el niobio siendo considerado una mena mineral de este elemento.
                    
                    Depósitos importantes del pirocloro se encuentran en : Argentina, Brasil, Estados Unidos, Noruega y Madagascar</figcaption>
              </figure>
              <hr>
              <h1 class="title-top">N°2 Jordanita</h1>
            <figure class="figure-description">
                <img src="/images/2jordanita-foro-de-minerales.jpg" class="figure-img img-fluid rounded"  width="75%" height="auto" alt="...">
                <figcaption class="figure-caption">Mineral que pertenece  a la categoría de los óxidos y forma parte de los minerales de niobio, tipicamente se lo encuentra en cristales octaedricos y en habito masivo.

                    Los elementos químicos mas importantes presentes en este mineral son el sodio , calcio y niobio, su tonalidad puede ser variable desde el negro profundo, marrón, marrón anaranjado y rojizo. la dureza esta ubicada en 5 a 5,5 en la escala de mohs.
                    
                    El pirocloro puede ser radiactivo, también de este mineral se obtiene el niobio siendo considerado una mena mineral de este elemento.
                    
                    Depósitos importantes del pirocloro se encuentran en : Argentina, Brasil, Estados Unidos, Noruega y Madagascar</figcaption>
              </figure>
              <hr>
              <h1 class="title-top">N°1 Kammererita</h1>
            <figure class="figure-description">
                <img src="/images/1kammererita-cromo-clinocloro-foro-de-minerales.jpg" class="figure-img img-fluid rounded"   width="75%" height="auto" alt="...">
                <figcaption class="figure-caption">Mineral que pertenece  a la categoría de los óxidos y forma parte de los minerales de niobio, tipicamente se lo encuentra en cristales octaedricos y en habito masivo.

                    Los elementos químicos mas importantes presentes en este mineral son el sodio , calcio y niobio, su tonalidad puede ser variable desde el negro profundo, marrón, marrón anaranjado y rojizo. la dureza esta ubicada en 5 a 5,5 en la escala de mohs.
                    
                    El pirocloro puede ser radiactivo, también de este mineral se obtiene el niobio siendo considerado una mena mineral de este elemento.
                    
                    Depósitos importantes del pirocloro se encuentran en : Argentina, Brasil, Estados Unidos, Noruega y Madagascar</figcaption>
              </figure>
              <hr>
        </div>
     </div>
    </div>

</body>
</html>