/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Raleway:wght@100;300;400&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
}


header{
  background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(/images/gemas-fondo.jpg);
  height: 95vh;
  background-size: cover;
  background-position: center;
}

ul{
  float: right;               /*Mueve el listado al lado derecho */
  list-style-type: none;      /* tipo de listado : ningun / no */
  margin-top: 25px;
}

ul li {
  display: inline-block;       /* Coloca el listado en linea horizontal*/
  margin-top: 30px;
  
}

ul li a{
  text-decoration: none;
  color: #fff;
  padding: 5px 20px ;
  border: 1px solid transparent;
  transition: 0.6s ease;

  
}
ul li a:hover{
  background-color: rgb(255, 255, 255);
  color:black;
  text-decoration: none;

}
ul li.active a{ 
  background-color: #fff;
  color: #000;
}

.logo img{
  float:left;
  width: 150px;
  height: auto;
}

.main{
  max-width: 1400px;
  margin:auto;
  padding-top:10px ;


}
.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) ;

}
.title h1{
  color: #fff;
  font-size: 70px;

}
.button{
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%,-50%) ;

}

.btn {
  border: 1px solid #fff;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  transition: 0.06s ease;
}

.btn:hover{
  background-color: #fff;
  color: #000;
}

/*FIN DE PORTADA INDEX*/


/*HEADER*/

.div .container{
  background-color: #fff;
}
.title-section{
  margin-top: 40px;
  margin-left: 140px;
  font-weight: bold;

}

.parrafo-foro{

  color: #3d3d3d; 
  margin-top: 30px;
  margin-left: 100px;
  text-align: -webkit-match-parent;
  white-space: pre-wrap;
}

.title-section-other{

  margin-top: 40px;
  margin-left: 55%;
  font-weight: bold;
}
.parrafo-foro-other {
  color: #3d3d3d;
  margin-top: 30px;
  text-align: -webkit-match-parent;
  white-space: pre-wrap;
  margin-left: 50%;
}

.box-information hr{
  background-color: grey;
}

.box-information h1{
  
  margin-top: 20px;
  margin-left: -120px;
  margin-bottom: 60px;
  font-weight: bold;


}

ul{
  list-style: none;
  padding-left: 0px;
}
/*FOOTER */
.fab-links{
  background-color: #fff;
}

.last-box{
 border-left: 2px solid #fff;

}
.container-fluid-footer{
  background-color: #24262b;
  height: 50%;
  padding-bottom: 5%;
  padding-top: 5%;
}

footer img{
  width: 15%; 
  position: relative; 
  left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  -moz-transition: all 2.3s ease-in-out;
  -webkit-transition: all 2.3s ease-in-out;
  -o-transition: all 2.3s ease-in-out;
  -ms-transition: all 2.3s ease-in-out;
  transition: all 2.3s ease-in-out;

  
}
footer img:hover{
  -moz-transform: rotateY(-360deg);
  -webkit-transform: rotateY(-360deg);
  -ms-transform: rotateY(-360deg);
  transform: rotateY(-360deg);
}
footer p{
  color: #fff;
  font-size: 15px;
} 
footer .redes img{
  left: auto;
  -moz-transition: all 2.3s ease-in-out;
  -webkit-transition: all 2.3s ease-in-out;
  -o-transition: all 2.3s ease-in-out;
  -ms-transition: all 2.3s ease-in-out;
  transition: all 2.3s ease-in-out;
}

footer .redes img:hover{
  -moz-transform: rotateY(-360deg);
  -webkit-transform: rotateY(-360deg);
  -ms-transform: rotateY(-360deg);
  transform: rotateY(-360deg);
}
  
footer .redes a{
  text-decoration: none;
  color: #fff;
 
}
.ul .footer-cat li{
  text-decoration: none;
  color: #fff;
}

div .col-3 h4{
  color: #fff;
  text-align: center;
  margin-bottom: 3%;
}



/*TOP 10 GEMAS EXTRAÑAS*/

div .minerales-gemas_top{
  margin-top: 40px;
  margin-left: 140px;
  font-weight: bold;
}
.figcaption .figure-caption{
  margin-left: -10%;
}

 .title-top10 h1{
  margin-top: 100px;
  margin-left: 50px;
  font-weight: bold;
}

.figure-description{
  margin-top: 6%;
  margin-bottom: 6%;
  margin-right: 50px;
}
.title-top h1{ 
  margin-top: 6%;
}
.figure-caption {
  font-size: 30px;
  color: #6c757d; 

  }