/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Raleway:wght@100;300;400&display=swap');

.centrar-form{
  margin: 20px auto auto 100px;
  float:none;
 }

 .formulario{
   align-content: center;
 }